/* 头部模块 */
header {
  overflow: hidden;
  position: relative;
}

header .logo {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 200px;
  height: 72px;
  background: url(../img/logo.png) no-repeat;
}

/* 上半部 */
header .top {
  height: 555px;
  min-width: 1210px;
  max-width: 1920px;
  background: url(../img/bj1.jpg) no-repeat center top;
  background-size: 1920px 555px;
}

/* 下半部 */
header .bottom {
  overflow: hidden;
  height: 555px;
  min-width: 1210px;
  max-width: 1920px;
  background: url(../img/bg2.jpg) no-repeat center top;
  background-size: 1920px 555px;
}

/* 轮播图模块 */
.carousel {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 400px;
  height: 236px;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: #336bd0;
}

.carousel-caption {
  position: absolute;
  bottom: -10px;
  color: #b1bae9;
}

header .hd {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 61px;
  background: url(../img/top.png) no-repeat;
  background-size: 1920px auto;
  z-index: 4;
}


/* 主体部分 */
.yingxiong {
  min-width: 1210px;
  max-width: 1920px;
  height: 1550px;
  overflow: hidden;
}

/* 波江星神 */
.bojiang,
.shizi {
  position: relative;
  min-width: 1210px;
  max-width: 1920px;
  height: 1550px;
  background-size: 1920px auto;
  margin: 0 auto;
}

/* 波江星神 */
.bojiang {
  display: none;
  background: url(../img/b1g.jpg) no-repeat center top;
}

/* 狮子星神 */
.shizi {
  display: block;
  background: url(../img/b2g.jpg) no-repeat center top;
}

.main-box {
  width: 1210px;
  height: 910px;
  margin: 0 auto;
  /* background-color: pink; */
  position: relative;
}

.main-box .name {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 1210px;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: skyblue; */
  z-index: 3;
}

.name-left {
  width: 650px;
}

.name-left .title,
.xuancai .title {
  float: left;
  width: 475px;
  height: 80px;
  margin-top: 80px;
  margin-right: 30px;
  background: url(../img/name.png) no-repeat;
  background-size: 500px 1500px;
}

.shizi .xuancai .title,
.shizi .name-left .title {
  background-position-y: -129px;
}

.anniu {
  display: inline-block;
  margin: 67px 0 0 10px;
  width: 90px;
  height: 105px;
  background: url(../img/annjiu.png) no-repeat;
  animation: suofang 4s infinite;
}

@keyframes suofang {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

/* 右侧 */
.name .name-right {
  position: absolute;
  right: 235px;
  top: 0;
  width: 267px;
  height: 90px;
  margin-top: 80px;
  margin-right: 30px;
  padding-right: 30px;
  text-align: right;
  /* background-color: pink; */
}

.name-right p,
.name-right em,
.title,
.center .pre1,
.center b,
.center em {
  display: inline-block;
  -webkit-background-clip: text;
  font-size: 80px;
  line-height: 90px;
  font-family: 'sellnum-4';
  font-weight: bold;
  background-image: linear-gradient(#fcffff, #8effff);
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.name-right em {
  font-size: 30px;
  padding-right: 5px;
  margin-left: -10px;
}

.jiesuo {
  position: absolute;
  top: -97px;
  left: 280px;
  display: inline-block;
  margin-top: 80px;
  margin-right: 30px;
  width: 264px;
  height: 158px;
  background: url(../img/jiesuo.png) no-repeat;
}

/* 炫彩模块 */
.xuancai {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1210px;
  height: 323px;
  margin: 0 auto;
  /* background-color: skyblue; */
}

.xuancai .pre {
  display: inline-block;
  width: 140px;
  height: 68px;
  margin-top: 85px;
  background: url(../img/name.png) no-repeat;
  background-position-y: -1259px;
}

.jieshao {
  width: 559px;
  height: 68px;
  margin-top: 10px;
  /* background-color: green; */
  font-size: 16px;
  color: #5cdeff;

}

.jieshao span {
  color: #5377fd;
}

.center {
  width: 297px;
  height: 136px;
  margin-top: 85px;
  /* background: pink; */
  background: url(../img/price-bg.png) no-repeat;
}

.xuancai .center p {
  font-size: 60px;
  margin-left: 30px;
}

.xuancai .center b {
  font-size: 35px;
}

.xuancai .center em {
  width: 75px;
  font-size: 25px;
}

.xuancai .center .pre2 {
  font-size: 16px;
  color: #5377fd;
}

.xuancai .center .pre2 span {
  color: #5bddfe;
  line-height: 24px;
}

.right1 {
  width: 264px;
  height: 158px;
  background: url(../img/jiesuo.png) no-repeat;
  margin-top: 64px;
  /* background-color: green; */
}

/* 炫彩展示模块 */
ul {
  text-align: center;
  width: 1210px;
  height: 293px;
  /* background-color: green; */
  margin: 0 auto;
}


ul li {
  float: left;
  width: 150px;
  height: 100%;
  padding-top: 20px;
  margin-right: 1px;
  /* background-color: skyblue; */
}

.xinghun1 {
  background-position-x: -1063px;
}

.xinghun2 {
  background-position-x: -887px
}

.xinghun3 {
  background-position-x: -708px;
}

.xinghun4 {
  background-position-x: -531px;
}

.xinghun5 {
  background-position-x: -354px;
}

.xinghun6 {
  background-position-x: -177px;
}

.xinghun7 {
  background-position-x: -0px;
}

.xinghun8 {
  background-position-x: -1241px;
}

ul li i {
  display: inline-block;
  width: 159px;
  height: 177px;
  margin-bottom: 4px;
  transform: translate3d(-4px, 0, 0);
  background: url(../img/xuancai1.png) no-repeat 0 0;
  background-size: 1400px 177px;
}

ul li p {
  font-size: 16px;
  color: #5cdeff;
  line-height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

ul li span {
  display: block;
  font-size: 16px;
  color: #4d68d0;
  line-height: 24px;

}

/* 侧边栏 */
.container {
  position: fixed;
  right: 0;
  top: 0;
  width: 241px;
  height: 520px;
  z-index: 9;
}

.nav-pills {
  width: 100%;
  height: 100%;
}

.nav-stacked>li+li {
  margin-top: 0;
}

.nav-pills li {
  height: 58px;
  width: 100%;
  margin-top: 0;
  list-style-type: none;
  position: relative;
}

.nav-pills .tab1,
.nav-pills .tab1.eve,
.nav-pills .tab1:hover {
  background-position: 0 0;
}

.nav-pills .tab2,
.nav-pills a.eve,
.nav-pills .tab2:hover {
  background-position: 0 -58px;
}

.nav-pills .tab3,
.nav-pills .tab3.eve,

.nav-pills .tab3:hover {
  background-position: 0 -115px;
}

.nav-pills .tab4,
.nav-pills .tab4.eve,

.nav-pills .tab4:hover {
  background-position: 0 -173px;
}

.nav-pills .tab5.eve,
.nav-pills .tab5,
.nav-pills .tab5:hover {
  background-position: 0 -231px;
}

.nav-pills .tab6,
.nav-pills .tab6.eve,

.nav-pills .tab6:hover {
  background-position: 0 -289px;
}

.nav-pills .tab7,
.nav-pills .tab7.eve,

.nav-pills .tab7:hover {
  background-position: 0 -347px;
}

.nav-pills .tab8,
.nav-pills .tab8.eve,

.nav-pills .tab8:hover {
  background-position: 0 -404px;
}

.nav-pills .tab9,
.nav-pills .tab9.eve,

.nav-pills .tab9:hover {
  background-position: 0 -462px;
}

.nav-pills li a {
  display: block;
  text-align: left;
  height: 58px;
  width: 100%;
  background: url(../img/celan.png) no-repeat;
}

.nav-pills a.eve,
.nav-pills li a:hover {
  width: 100%;
  height: 58px;
  background: url(../img/celan3.png) no-repeat;
}

.nav-pills a.eve::before,
.nav-pills li a:hover::before {
  content: "";
  width: 100%;
  height: 62px;
  background: url(../img/dianji.png) no-repeat;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 9;
}